* {
    font-family: 'Rubik', 'Open Sans';
    margin: 0;
}
/*header*/
.logo {
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding-left: 0;
}

.menu > li {
    list-style-type: none;
    padding: 10px;
}

.menu > li > a {
    text-decoration: none;
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

header, .prepayment > h1, .prepayment > p, .prepayment > input, .navigation {
    margin-left: 13.5vw;
}

/*main*/
/*prepayment*/
main {
    position: relative;
}

.prepayment {
    background-color: #FEC524;
    padding: 0vh 60vw 22.0vh 0vw;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    padding-top: 5.4vh;
    padding-bottom: 3.4vh;
}

.prepayment > p {
    color: #0E2F4B;
    font-family: 'Open Sans', sens-serif;
;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20vh;
    width: 31vw;
}

.prepayment > input, .input-btn > input {
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    width: 20vw;
    height: 72px;
    padding: 0vh 15vw 0vh 3vw;
    box-shadow: 0px 3px 35px 0px rgba(95, 98, 102, 0.17);
}

.navigation {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    top: 75vh;
    left: 0;
    padding-inline-start: 0;
}

.navigation > li {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2.5vh 2vw;
    border-radius: 10px;
    box-shadow: 0px 3px 35px 0px rgba(95, 98, 102, 0.17);
}

.navigation > li > a {
    text-decoration: none;
    color: #99A2AA;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 8vw;
}

/*Post service*/
.post-service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #0E2F4B;
    background: #F8F8F8;
    padding-top: 15vh;
    padding-left: 13.5vw;
    padding-bottom: 10vh;
    gap: 2vw;
}

.title-service {
    width: 26vw;
    height: 6.3vh;
}

h2 {
    width: 16vw;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 3.6vh;
}

.post-service > div > p {
    font-family: 'Open Sans', sens-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.service {
    width: 20vw;
    height: 18vh;
    margin-bottom: 5vh;
}

.service > p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    width: 10vw;
}

.service > .service-long {
    width: 20vw;
}

.service > a {
    text-decoration: none;
    color: #0E2F4B;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;

}

.part-services {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/*business*/
.business {
    background: #042C4B;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 13.5vw;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
}

.business > h3 {
    color: #F8F8F8;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-top: 15vh;
    padding-bottom: 3.6vh;
}

.business > p {
    color: #99A2AA;
    font-family: 'Open Sans', sens-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

button {
    color: #0E2F4B;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #FDC13D;
    background: #FDC13D;
    width: 19vw;
    height: 8.0vh;
    margin-top: 3.4vh;
    margin-bottom: 18vh;
    cursor: pointer;
}

/*article*/
.article {
    margin: 0 auto;
    background: #FDC13D;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 22.0vh;
    justify-content: center;
    padding-left: 7.5vw;
    border: 1px solid #FDC13D;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 1.1vh;
}

h4 {
    color: #0E2F4B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.article > p {
    color: #0E2F4B;
    font-family: 'Open Sans', sens-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.article > a {
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

/*finance-service*/
.finance {
    color: #0E2F4B;
    background-color: #F8F8F8;
    padding-left: 13.5vw;
    padding-top: 12vh;
    padding-bottom: 23.9vh;
}

h5 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 7vh;
}

.finance-services {
    display: flex;
    flex-direction: row;
}

.finance-services > .service > p {
    margin-bottom: 1.3vh;
}

/*index*/
.index {
    padding-top: 16.5vh;
    margin-bottom: 0;
}

.index-title {
    color: #F8F8F8;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.input-btn > input {
    width: 15vw;
}

.input-btn {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin-top: 8vh;
}

.btn {
    height: 10.2vh;
    margin-top: 0;
}

/*news*/
.all-news {
    background: #F8F8F8;
    padding-top: 10vh;
    padding-left: 13.5vw;
}

.news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    height: 90vh;
}
.new {
    width: 35vw;
    height: 27vh;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2.4vh;
    background-color: white;
    padding: 30px;
}

.new-img {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.new-img > div {
    color: #0E2F4B;
    font-family: 'Open Sans', sens-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.new-text {
    display: flex;
    flex-direction: column;
}

.new-text > p {
    color: #99A2AA;
    font-family: 'Open Sans', sens-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.new-text > div {
    color: #0E2F4B;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
/*entities*/
.entities {
    background: #F8F8F8;
    padding-left: 13.5vw;
}
.entities > h5 {
    color: #0E2F4B;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}
.cards > li {
    list-style-type: none;
}

.cards-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cards-part > a {
    color: #99A2AA;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
    height: 7vh;
    padding-left: 3vw;
    padding-top: 3vh;
    width: 20vw;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}

/*contacts*/
.contacts {
    background-color: #FDC13D;
    padding-top: 12.1vh;
    padding-left: 13.5vw;
}
.contacts > h4 {
    color: #FFFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 3.6vh;
}
.contacts > img {
    margin-right: 1vw;
    margin-bottom: 4vh;
}
.contact-text {
    color: #0E2F4B;
    font-family: 'Open Sans', sens-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2.7vh;
}
.mobile {
    margin-bottom: 3.9vh;
}
.mobile > p {
    color: #0E2F4B;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1.5vh;
}
.mobile > img {
    margin-right: 1.5vw;
}
.chat-bot {
    margin-bottom: 1.5vh;
}
/*footer*/
footer {
    background-color: #1D2023;
    padding-bottom: 10vh;
    border-top: 1px solid white;
    padding-left: 10vw;
}
.all-footer {
    width: 85%;
    background-color: #1D2023;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vh;
    gap: 3vw;
    border-bottom: 1px solid #99A2AA;
    padding-bottom: 5.4vh;

}
.part-footer {
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 28vw;

}
.part-footer > h5 {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}
