body {
    background: #2d837d;
}

form {
    margin: 20vh auto;
    width: 35%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background: rgba(77, 176, 170, 0.11);
    width: 100%;
    margin-top: 0;
    padding-top: 4vh;
    padding-bottom: 4vh;
    text-align: center;
}
.data {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    width: 60%;
}
.data input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.checkbox-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.input {
    border-radius: 4px;
    border: 1px solid black;
    width: 5vw;
    height: 3.5vh;
}